html,
body {
  background-color: #ffffff;
  box-sizing: border-box;
  color: #3e606f;
  font-family: "Roboto Condensed", sans-serif;
}

body {
  background: linear-gradient(to bottom, #d1d8bc, #fcfef4);
  margin: 8px;
  width: 1100px;
}

header,
main,
footer {
  margin-left: auto;
  margin-right: auto;
  width: 960px;
}

header {
  height: 140px;
}

h1 {
  background: url("site_icon.png") 20px 20px no-repeat;
  background-color: inherit;
  color: #193441;
  float: left;
  font-size: 36px;
  font-weight: normal;
  padding: 59px 0 59px 130px;
}

nav {
  float: right;
  margin-right: 20px;
  margin-top: 95px;
}

nav ul li {
  display: inline-block;
  padding-left: 1px;
  padding-right: 0;
}

nav a {
  background-color: #fcfff5;
  border-radius: 10px 10px 0 0;
  color: #91aa9d;
  display: block;
  font-size: 18px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  width: 128px;
}

nav .active {
  background-color: #91aa9d;
  color: #fcfff5;
}

main {
  background-color: white;
  box-shadow: 0 5px 5px grey;
  box-sizing: border-box;
  color: inherit;
  padding: 30px;
}

article {
  overflow: hidden;
}

h2 {
  font-weight: normal;
  font-size: 32px;
  margin-bottom: 20px;
  margin-top: 29px;
}

main p {
  font-size: 18px;
  margin-bottom: 21px;
}

main figure {
  float: right;
  margin-left: 29px;
}

footer {
  font-size: 10px;
  margin-bottom: 50px;
  padding-top: 15px;
}
